@import "tailwindcss";

:root {
  --background: #F4F1EA; /* Warm Cream / Paper Off-White */
  --foreground: #000000; /* Black text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-manuka);
  --font-faktum: var(--font-faktum);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-faktum), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
